
<button type="button" class="btn btn-primary" (click)="back()">Back</button>

<form>
  <div class="form-group row">
    <div class="col-sm-10">
      <input type="text" class="form-control col-sm-4" id="inputCaption" placeholder="Caption">
    </div>
  </div>
  <div class="form-group-row">
      date
  </div>
</form>

<div class="card" style="max-width: 540px;">
         <div class="row">
          <div class="col-md-6">
            <img src="../../assets/img/blue_shirt.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-6">
                <img src="../../assets/img/light_brown_pant.jpg" class="card-img" alt="...">
          </div>
        </div>
       
        <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <a href="#" class="card-text-left" (click)="unlikeButton()"><i class="far fa-thumbs-down ml-5"></i></a>
              </div>
              <div class="col-sm-4">
                <a href="#" class="card-text-center" (click)="shareButton()"><i class="fas fa-share ml-5"></i></a>
              </div>
              <div class="col-sm-4">
                <a class="card-text-right" data-toggle="modal" data-target="#exampleModalCenter" (click)="bookmarkbutton()">
                  <i class="fas fa-bookmark ml-5"></i>
                </a> 
              </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Bookmark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Today's pair is bookmarked
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
        </div>
      
    </div>

    